/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background:url(images/header_bg.png) repeat-x #ffffff;
	font-family: 'Droid Sans',Helvetica, Arial, sans-serif !important;
	color: #51565a;/*838B91*/
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans',Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	color: #222222;
}

p, blockquote, ul, ol {
	margin-top: 0;
}

a {	
	text-decoration: none;
	color: #222222;
}

a:hover {
	background: none;
	text-decoration: underline;
}
.clearer {
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 0;
}
/* ::: Wrapper ::: */

#wrapper {
	margin-left:0px;
}

/* ::: Header ::: */

#header {
	height: 120px;
	margin:0;
	padding: 13px 0 0 60px;
}

/* ::: Content ::: */

#content {
	margin:0px;
}

/* FOOTER */
#footer {
	bottom:0px;
	padding: 0 0 0 100px;
	background: url(images/img08.gif) repeat-x scroll 0 bottom #ffffff;
	height:100px;
	margin-top:20px;
	position:fixed;
	width:100%;
}

#footer p {
	font-family: 'Droid Sans',Helvetica, Arial, sans-serif !important;
	color: #ffffff;
}

#footer a {
	background: none;
	font-weight: bold;
	color: #ffffff;
}

#legal {
	margin: 0px;
	text-align: right;
	font-size: 12px;
}

#brand {
	background: url(images/lg_archambault04.png) no-repeat scroll -3px 0 transparent;
	position:relative;
	margin: -13px 0px;
	padding-left:110px;
	padding-top:33px;
	min-height:60px;
	font-size: 12px;
	width:643px;
}