/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

h2 {
	padding-left: 0px;
	font-size: 22px;
	margin:5px 0px;
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
	font-weight: bold;
}
/* Wrapper */

#wrapper {
	background: url(images/shadows.jpg) repeat-x 0 -15px #FFFFFF ;
}

/* Header */
#header {
	width: 754px;
	height: 81px;
	margin: 0 auto;
	padding: 13px 0 0 0;
}

/* Content */

#content {
	width: 750px;
	margin: 0 auto;
	padding-bottom:100px;
}
.welcomeMessage {
	height:56px;
	padding-top:6px;
}
.frame {
    background-color: #ffffff;
    border: 4px solid grey;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 0px 20px;
    width: 750px;
}
.links {/*82ff3e / e6e6e6*/
	background-color: #82ff3e;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #82ff3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#82ff3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#82ff3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#82ff3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#82ff3e 100%); /* IE10+ */
	background: linear-gradient(top,  #fdfdfd 0%,#82ff3e 100%); /* W3C */
	background-repeat: repeat-x;
	border-color: #a6a6a6;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	color: #343434;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	/*margin: 15px 10px 15px 0px;*/
	padding: 6px 14px;
	text-align: left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	width:200px;
}

#footer {
	padding: 0;
}

#footer p {
	width: 750px;
}



#brand {
	margin: -13px auto 0 auto;
}