/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background:url(/images/header_bg.png) repeat-x #ffffff;
	font-family: 'Droid Sans',Helvetica, Arial, sans-serif !important;
	color: #51565a;/*838B91*/
    font-size:14px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans',Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	color: #222222;
}

p, blockquote, ul, ol {
	margin-top: 0;
}

a {	
	text-decoration: none;
	color: #222222;
}

a:hover {
	background: none;
	text-decoration: underline;
}

.clearer {
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 0;
}

/* ::: Wrapper ::: */

#wrapper {
	margin-left:0px;
}
#wrapper {
	background: url(/images/piano_bg.jpg) no-repeat 0 0px #FFFFFF ;
    padding-top:30px;
}
/* ::: Header ::: */

#header {
	height: 120px;
	margin:0;
	padding: 13px 0 0 20px;
}
ul.adminLinks {
	color:white;
	float:right;
	list-style-type:none;
	text-align:right;
}
.adminLinks li {
	background:none;
}
.adminLinks li a {
	color:white;
	font-size:13px;
}
.adminLinks li a:hover {
	text-decoration:underline;
}
/* ::: Language buttons ::: */
.languageBtn {
    position:absolute;
    right:20px;
    top:10px;
}
.languageBtn a {
    color:white;
    font-size:14px;
    text-decoration:none;
}
/* ::: Content ::: */

#content {
	margin:0px;
}

/*:: =Forms ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

form, .form {margin: 0;}

.frmInnerWrap {margin-bottom: 0;}
.frmInnerWrap.firstFrmInnerWrap {margin-bottom: 4em;}


input {font-size: 1em;}
select {font-size: 12px;z-index: 1;}
textarea {
	font-size: 1em;
	line-height: 1.4em;
}
p.requiredMsg {
	color: #666666;
	font-style: italic;
	margin-top:8px;
}

span.requiredMark {margin-right: 3px;}

a.actionLink {margin-left: 3px;white-space: nowrap;}

fieldset {border: 0 none;margin: 0;padding: 0;}
legend {height: 0;display: block;line-height: 0;position: absolute;top: -999em;}
	legend span {position: absolute;top: -999em;}

.frmElmnt:first-child,
.frmInnerWrap .frmElmnt:first-child {
	border-top: 0 none;
	margin-top: 0;
	padding-top: 8px;
}

.frmElmnt { 
	margin-top: 15px;
	padding-top: 15px;
	border-top: 0px solid #ebebeb;
}

.form + form .frmElmnt:first-child,
form + .form .frmElmnt:first-child {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #ebebeb;
}

.fLbl {position: relative;float: left;text-align: right;width: 205px;margin: 0;padding: 0;line-height: 1.3em;font-weight: bold;}
	.fLbl label, .fLbl span {position: relative;}

.fWdgt {position: relative;margin-left: 14px;float: left;display: inline;line-height: 1.3em;}
.fWdgt p {margin-bottom: 0;max-width: 500px;}
.fWdgt p.intro {margin-bottom: 15px;}
.fWdgt label {position: relative;}

p.hlpMsg, .fWdgt label span {font-size: 12px;line-height: 1.3em;color: #666;}
.fRadio .fWdgt label span, .fChckbx .fWdgt label span {display: block;margin-bottom: 0.5em;}

/* Contextual help message (under input) */
p.hlpMsg {margin: 2px 0 0 0;clear: left;float: left;max-width: 35em;width: 100%;font-style: italic;}
	p.hlpMsg a {text-decoration: underline;}
	p.hlpMsg img {display: block;margin: 0 0 5px;}

/* Contextual help message (right side of input) */	
.inputHlp {float: left;position: relative;}
.fTxt .inputHlp {top: 8px;}

/* Overall look of form widgets */
.fWdgt input,
.fWdgt select {position: relative;float: left;margin: 0 8px 0 0;}

.fTxt input,
.fTxtArea textarea,
.txtWindow,
.fPhone input {
	background: url(/images/bg_inputIdle.png) repeat-x 0 0 #fff;
	border: 1px solid #aaa;
	padding: 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.fTxt input:focus,
.fTxtArea textarea:focus {
	background: url(/images/bg_inputFocus.png) repeat-x 0 0 #fdf7e5;
	border-color: #efb400;
}

/* Text input */
.fTxt .fLbl,
.fPhone .fLbl {top: 8px;}
.fTxt input,
.fPhone input {width: 266px;padding: 6px;line-height: 1em;}
.fTxt input + input {float: none;display: block;clear: left;margin-top: 2.6em;}

/* File upload */
.fFile .fLbl {top: 5px;}

/* Select */
.fSlct .fLbl {top: 0px;}
.fSlct select,
.fWdgt select {line-height: 1em; padding:5px;}

/* Checkbox */
.fChckbx .fLbl {top: 0;}
.fChckbx input, 
.fTerms .optGroup input,
.noMoreMessage input {
	border: 0 none;
	width: 18px;height: 18px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 7px !important;
	margin-top: 0;
	padding: 0;
	position: relative;
	top: -1px;
	vertical-align: middle;
}
.fChckbx .fWdgt label {top: 0;display: block;margin-left: 24px;color: #222222;width: 100%;}

/* Radio button */
.fRadio .fLbl {top: 0;}
.fRadio input {
	border: 0 none;
	height: 17px;
	margin-right: 6px !important;
	padding: 0;
	vertical-align: middle;
}
.fRadio .fWdgt label {top: 0;display: inline-block;}

/* Optgroup & sideBySide (group checkbox/radio with its label) */
.optGroup {top: 0;background: none transparent;padding: 0;margin-bottom: 6px;}
.optGroup:last-child {margin-bottom: 0;}
.sideBySide .optGroup {position: relative;top: 0;float: left;clear: none;margin-bottom: 4px;margin-right: 20px;width: auto;}
.sideBySide .optMaster {float: none;margin-bottom: 8px;}
.sideBySide p {float:left; margin-right:10px;}

/* Text area */
.fTxtArea .fLbl {top: 7px;}
.fTxtArea textarea {display: block;padding: 4px;overflow: auto;height: 140px;width: 401px;}

/* Input size overide (apply to fWdgt) */
.inputSize3 input, .inputSize3 select {width: 178px;}
.inputSize2 input, .inputSize2 select {width: 105px;}
.inputSize1 input, .fTxt .inputSize1 select {width: 46px;}

/* Input fPhone */
.fPhone .xtrafLbl { 
	float:left;
	line-height:1.3em;
	margin:0px 10px;
	padding:0px;
	position:relative;
	top:8px;

}
.xtrafLbl label { position:relative;}

.lclCode { margin-left:10px;}
.fPhone input.phSizeThree {width: 30px;}
.fPhone input.phSizeFour {width: 40px;}

/* No label (apply to frmElmnt). Need specific JS function. */
.noLabel .fLbl {position: absolute;left: -999em;}
.noLabel .fWdgt {margin-left: 218px;}

/* Form buttons */
.fBtn {margin-bottom: 4em;padding-bottom: 0;border-bottom: 0 none;}
.fBtn .fWdgt {margin-left: 220px;}
.fBtn .fLbl {display:none;}

/* Forms alternative (apply to frmElmnt) */
.frmAlt {margin-bottom: 18px;}
.frmAlt	.fLbl {width: auto;margin-bottom: 5px;margin-top: 0;float: none;text-align: left;top: 0;}
.frmAlt	.fWdgt {margin-left: 0;left: 0; z-index: auto;}
.frmAlt .fBtn .fWdgt {margin-left: 0;}

/* Add a width to sideBySide optgroup so they span on multiple columns*/
.multiColumn {width: 630px;padding-left: 0;margin-left: 14px;}
.multiColumn fieldset .optGroup {width:192px;margin-right:27px;margin-bottom: 4px;}
.multiColumn fieldset .optGroup:nth-child(3n+1) {margin-right: 0;}

/* Forms inline (apply to frmElmnt) */
.frmInline .fLbl {width: auto;margin-right: 14px;text-align: left;}
.frmInline .fWdgt {left: 0;margin-left: 0;margin-right: 10px;}
.frmInline.fBtn {float: left;}

/* Form error */
.frmError .fLbl,.frmError .fLbl label,.frmError .fLbl .requiredMark {color: #cf161e;font-weight: bold;}
p.errorMsg {color: #cf161e;font-weight: bold;font-size: 12px;line-height: 1.1em;margin: 6px 0 0 0;clear: left;float: left;max-width: 40em;}
span.errorMsg {color: #cf161e;font-weight: bold;font-size: 12px;line-height: 1.1em;margin: 6px 0 0 0;clear: left;float: none;max-width: 40em;}
.frmError p.hlpMsg {margin-top: 2px;}

.frmError.fTxt input,
.frmError.fTxtArea textarea,
.frmError.fSlct select,
.frmError.fTxt input:focus,
.frmError.fTxtArea textarea:focus,
.frmError.fSlct select:focus,
.frmError.fBtn input,
.frmError.fBtn input:focus {
	background: url(/images/bg_inputError.png) repeat-x 0 0 #fff6f6;
	border: 1px solid #cf161e;
}

/* Disabled widgets */
.fDisabled .fLbl, .fDisabled .fLbl label, .optGroup.fDisabled {color: #999;}
.fDisabled input, .fDisabled input:focus {background: none #f3f3f3;border-color: #ccc;color: #999;cursor: default;}
.fDisabled .requiredMark {display: none;}

/* Shorter label size (apply to form) */
.labelSizeAlt .fLbl {width: 132px;}
.labelSizeAlt .fBtn .fWdgt,
.labelSizeAlt .noLabel .fWdgt {margin-left: 146px;}
.labelSizeAlt .frmInline .fLbl, 
.frmAlt	.fLbl {width: auto;}
.labelSizeAlt .frmAlt.noLabel .fWdgt,
.labelSizeAlt .frmAlt.fBtn .fWdgt {margin-left: 0;}

/* Element group (group two or more frmElmnt) */
.elmntGroup{overflow: hidden;margin-bottom: 1em;padding-bottom: 1em;border-bottom: 0px solid #ededed;}/*TODO new: border-bottom: 0px / Was 1px*/
.elmntGroup .frmElmnt {float: left;border: 0 none;padding-bottom: 0;margin-bottom: 0;}
.elmntGroup .frmInline {margin-left: 14px;float: left;}
.elmntGroup .frmInline .fWdgt {margin-left: 0px;}/*TODO new*/
.elmntGroup .frmInline.fBtn { margin-bottom:0px; margin-top:15px;}/*TODO new*/

/* Special style for one or few input forms */
form.shortForm .frmElmnt {border-top: 0 none;padding-top: 0;margin-top: 10px;}
form.shortForm .fBtn {margin-top: 14px;margin-bottom: 1em;}
form.shortForm .noLabel .fWdgt {margin-left: 0;}
 

/* Special style for one input forms w/ aligned submit button */
form.singleInputForm .frmElmnt {border-bottom: 0 none;padding-bottom: 0;margin-bottom: 10px;float: left;}
form.singleInputForm .fBtn button {padding-top: 5px;padding-bottom: 5px;}

form.searchForm .frmElmnt {margin: 0;padding: 0;border: 0 none;}
form.searchForm .fWdgt {margin: 0;padding: 0;}
form.searchForm .fLbl {display: none;}

form.searchForm .fTxt .btn {
	border: 0 none;
	box-shadow: 0 0 0 transparent;
	background: url(img/ic_search.png) 0 0 no-repeat transparent;
	text-indent: -999em;
	width: 16px;height: 16px;
	position: absolute;
	top: 8px;right: 0;
}

.fWdgt .unit, .fWdgt .hUnit .pict {margin-bottom: 0;}

.frmElmnt .fWdgt .intro ul { margin-top:9px;max-width:390px;}
/*::: END FORMS:::: */
.btn {
	background-color: #e6e6e6;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,#fdfdfd 0%,#e6e6e6 100%); /* W3C */
	background-repeat: repeat-x;
	border-color: #a6a6a6;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	color: #343434;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	margin: 0 10px 0 0;/*margin: 0 3px 0 0;*/
	padding: 9px 14px 8px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	vertical-align: middle;
}


.btn:hover {
	text-decoration: none;
	background-color: #e6e6e6;
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #ddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* IE10+ */
	background: linear-gradient(top,#f1f1f1 0%,#ddd 100%); /* W3C */
}
.btn.primaryAction,
.btn.primaryAction:hover,
.btn.promotionAction,
.btn.promotionAction:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}
.btn.primaryAction,
.btn.promotionAction {
	background: #b2001f;
	background: -moz-linear-gradient(top,  #da0026 0%, #b2001f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da0026), color-stop(100%,#b2001f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #da0026 0%,#b2001f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #da0026 0%,#b2001f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #da0026 0%,#b2001f 100%); /* IE10+ */
	background: linear-gradient(top,  #da0026 0%,#b2001f 100%); /* W3C */
	border-color: #6a0009;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.2);
	margin: 0;
	padding: 10px 18px 11px;
	font-size: 16px;
	line-height: 10px;
}
.secondaryAction {
    font-size:16px;
    line-height:10px;
    margin-left: 10px;
    padding:10px 18px 11px;
}
.backAction {
    display:block;
    font-size:12px;
    line-height:10px;
    margin-bottom:20px;
    margin-left: 2px;
    padding:5px 13px 8px;
    min-width:186px;
}
.btn.primaryAction:hover,
.btn.promotionAction:hover {
	background: #b6001f; /* Old browsers */
	background: -moz-linear-gradient(top,  #cd0023 0%, #b6001f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd0023), color-stop(100%,#b6001f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cd0023 0%,#b6001f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cd0023 0%,#b6001f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cd0023 0%,#b6001f 100%); /* IE10+ */
	background: linear-gradient(top,  #cd0023 0%,#b6001f 100%); /* W3C */
	border-color: #6a0009;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.4);
}

/* FOOTER */
#footer {
	bottom:153px;
	padding: 0px;
	background: url(/images/img08.gif) repeat-x scroll 0 bottom #ffffff;
	height:100px;
	margin-top:20px;
	width:100%;
}

#legal {
	margin: 0px;
	text-align: right;
	font-size: 12px;
}

#brand {
	background: url(/images/lg_archambault04.png) no-repeat scroll -3px 0 transparent;
	position:relative;
	margin: -13px auto 0px;
	padding-left:110px;
	padding-top:33px;
	min-height:60px;
	font-size: 12px;
	width:690px;
    top: 0px;
}
.overlay {
    background:url(/images/bg_lbOverlay.png) repeat scroll 0 0 transparent;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.overlayContent {
    margin:14% auto 25%;
    height:215px;
    position:relative;
    width:383px;
    z-index:1010;
}
.loading_msg {
            
	bottom:0px;
    color:white;
	font-size:16px;
	font-weight:bold;
	left:0px;
    padding:5px;
	position: absolute;
    text-align:center;
}
.loading_msg p {
    background-color: rgba(113, 110, 111, 0.9);
    filter: alpha(opacity=90);
    opacity: 0.9;
    padding:5px 10px;
    text-align:left;
    z-index:1011;
}
    .overlayContent h2 {
        font-size: 18px;
        font-weight: bold;
        color: #000;
    }

           

