/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	font-size:12px;
}

h2 {
	padding-left: 0px;
	font-size: 22px;
    /*width: 403px;*/
}
h2.noData_msg {
    background: url(/images/alert_icon2.png) no-repeat 0 0px transparent;
    height:28px;
    margin-left:20px;
    padding-left:38px;
    padding-top:3px;
}
h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
	font-weight: bold;
}
/*.dashboard*/  #header {
    height:81px;
}
/*.dashboard #wrapper {
	background: url(/images/piano_bg.jpg) no-repeat 0 0px #FFFFFF ;
    padding-top:30px;
}*/
/* ::: Content ::: */
.rapport_container {
	/*background: url(/images/img10.gif) repeat-x;*/
	margin-bottom:40px;
	padding: 10px 0px 0px 20px;
}
/*.dashboard */.container {
    background:none;    
	/*background: url(/images/img10.gif) repeat-x;*/
    /*float:left;*/
	padding: 0px 0px 0px;
    height:100%;
    min-width:1553px;
    /*position:relative;*/
    /*width:100%;*/
    width:auto;
    
}
.dashboard .rapport_container {
    background:none;
    display:inline-block;
    padding:0px;
}
.left_menu_content {
    background-color:#ececea;/*ffffff*/
    border:2px solid #cccccc;
    border-radius:7px;
    display:inline-block;
     margin:11px 20px 20px 19px;
     padding:11px 2px 2px;
     width:180px;
     vertical-align:top;

}
.left_menu_content ul {
    margin-bottom:0px;
    margin-top:-10px;
    padding-left:0px;

}

.left_menu_content ul li:first-child {
    border-radius:4px 4px 0px 0px;
}
.left_menu_content ul li:last-child {
    border-radius:0px 0px 4px 4px;
}
.left_menu_content ul li {
    background-color:#f6f6f5;
    font-size:14px;
    list-style:none;
    margin:0px;
    padding:10px 0px 10px 10px;
}

.left_menu_content ul li.odd {
    background-color:#ececea;
}
.left_menu_content ul li:hover {
    background-color:#cccccc;
}


.frame {
	background-color:#ffffff;
	border:4px solid grey;
	border-radius:10px;
	display:inline-block;
	margin-right:20px;
	padding:20px;
    position:relative;
}

.frame.graphique_cont {
	border:1px solid grey;
}
.graphique_cont img {
}
.subContainer {    
	margin-bottom:40px;
	padding: 10px 0px 0px 0px;
}
.rapport_container .table_cont {
    float:left;
}

.rapport_container .dept_table_cont,
.rapport_container .exclud_table_cont {	
	border:2px solid #c8c8c8;
	border-radius:2px;
	display:inline-block;
	margin-right:20px;
	position:relative;
	width:auto;
}
.rapport_container .dashboard_table_cont,
.rapport_container .stock_table_cont {		
	border:2px solid #c8c8c8;
	border-radius:2px;
	display:inline-block;
	margin-right:0px;
	position:relative;
	width:auto;
}
.rapport_container .nbrLine_cont {		
	border:2px solid #c8c8c8;
	border-radius:2px;
	display:inline-block;
	margin-right:0px;
	position:absolute;
    top:24px;
	width:auto;
}
p.nbrLine_lbl {
    display:inline-block;
    margin:0px;
}
.rapport_container .stock_table_cont {
    margin-right:20px;
}
.rapport_container .stock_table_cont .stock_table tr.drop-lists td {
    border:none;
}
.rapport_container .stock_table_cont .stock_table tr.drop-lists td.last {
    padding: 0px 5px 2px 22px;
} 
.rapport_container .stock_table_cont.lastTbl {
    margin-right:0px;
}
.rapport_container .supplier_table_cont {
	border-bottom:2px solid #c8c8c8;
	border-radius:2px;
	border-top:2px solid #c8c8c8;
	display:inline-block;
	margin-right:20px;
	position:relative;
	width:486px;
}
.rapport_container table { 
    border-spacing: 0;
    border-collapse: collapse;
}

.rapport_container table td {
	min-height:20px;
	height:20px;
	padding:2px 0 2px 4px;
}
.rapport_container .dashboard_table_cont td {
	border:1px solid white;

}
.rapport_container .dashboard_table_cont td:first-child {
	border-left:0px solid white;

}
.rapport_container .dashboard_table_cont td.last {
    border-right:0px solid white;
}
.rapport_container .dashboard_table_cont tr.last td {
    border-bottom:0px solid white;
}
.rapport_container table td.centered,
.rapport_container table td.last {
	padding-left:0px;
	text-align:center;
}
.rapport_container table td.empty {
	border:0px none;
}

.odd, 
.even {
	border-bottom:1px solid white;
	height:28px;
}
.even {
    background-color:#bbbcbc;
    color:#333333;
}
.odd {
    background-color:#ffffff;
    color:#333333;
}
.rapport_container .odd, 
.rapport_container .even {
	border-bottom:1px solid white;
	height:28px;
}
.storeDashboard {
    /*padding-top:60px;*/
}
.storeDashboard  table {
    border:1px solid #6e6f6f;
    font-family: 'Droid Sans',Helvetica, Arial, sans-serif !important;
    font-size:10px;
    margin-left:0px;
    /*width:100%;*/
    text-align:center;
    width:auto;
}
.result_table_cont.storeDashboard table td {
    border:1px solid #6e6f6f;
    border-bottom:1px solid #6e6f6f;
    padding:5px;
}
.result_table_cont.storeDashboard table tr a {
    color:#ffffff;
    text-decoration:none;

}
.result_table_cont.storeDashboard .even {
    background-color:#bbbcbc;
    color:#333333;
}
    .result_table_cont.storeDashboard .even td {}

.result_table_cont.storeDashboard .odd {
    background-color:#ffffff;
    color:#333333;
}
.storeDashboard .button_cont .btn {
    margin-left:0px;
    margin-top:20px;
}

.rapport_container .even {
	color:#333333;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjkyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcyJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIwLjc3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZWNlY2UiIHN0b3Atb3BhY2l0eT0iMC42OCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.92) 26%, rgba(206,206,206,0.77) 72%, rgba(206,206,206,0.68) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(26%,rgba(255,255,255,0.92)), color-stop(72%,rgba(206,206,206,0.77)), color-stop(100%,rgba(206,206,206,0.68))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 26%,rgba(206,206,206,0.77) 72%,rgba(206,206,206,0.68) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 26%,rgba(206,206,206,0.77) 72%,rgba(206,206,206,0.68) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 26%,rgba(206,206,206,0.77) 72%,rgba(206,206,206,0.68) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 26%,rgba(206,206,206,0.77) 72%,rgba(206,206,206,0.68) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#adcecece',GradientType=0 ); /* IE6-8 */


}

.rapport_container .odd {
	color:#333333;
	background-color:#c8c8c8;
}
.rapport_container .centered input {
	width:24px;
}
.rapport_container .even input {
	border:2px solid #8f8f8f;
	border-radius:5px;
	height:16px;
	width:16px;
	text-align:center;
}

.rapport_container .odd input {
	border:2px solid #8f8f8f;
	border-radius:5px;
	height:16px;
	width:16px;
	text-align:center;
}
.rapport_container .odd.first {	
	height:26px;
}
.rapport_container .odd.last,
.rapport_container .even.last {
	border:none;
	height:26px;
}

.rapport_container table.dept_table td:nth-child(odd) {
	width:175px;
}
.rapport_container table.supplier_table td:nth-child(odd) {
	width:240px;
}
.rapport_container table.supplier_table td:nth-child(2) {
	border-left:1px solid white;
	width:237px;
}
.rapport_container table.dept_table td.centered, 
.rapport_container table.dept_table td.last,
.rapport_container table.exclud_table td.centered {
	border:none;
	padding:0px;
	width:30px;
	text-align:center;
}

.rapport_container table.dept_table td.last {	
	border-right:0px none;
	padding-right:15px;
}
.rapport_container table.dept_table .styled_select {
    border:1px solid #8f8f8f;
    margin-left:15px;
    width:100px;
}
.rapport_container table.dept_table .inputSizeLong {
    margin-left:-2px;
    width:195px;
}
/*::: exclud_table table ::: */
.rapport_container .exclud_table td:first-child {
	width:385px;
}
.rapport_container .exclud_table td:nth-child(3n+3) {
	width:138px;
}

.rapport_container .exclud_table td.paraX {	
	border:none;
}
.rapport_container .exclud_table.bottom td.last {
	width:65px;
}

/*::: stock_table table ::: */
.rapport_container table.stock_table td:first-child {
	width:175px;
}
.rapport_container table.stock_table td:first-child + td {
	border-left:1px solid #ffffff;
	padding-right:5px;
	width:100px;
	text-align:right;
}

/*:::: BUTTON CONTAINER ::: */
.rapport_container .button_cont {
	display:inline-block;
	vertical-align:top;
	width:200px;
}
.rapport_container .button_cont input {
	display:block;
	margin-bottom:15px;
    top: 123px;
    left: 41px;
}
.rapport_container .button_cont .refresh_btn {
	background:url(/images/refresh_btn.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
	cursor:pointer;	
	height:50px;
	width:190px;
}
.rapport_container .button_cont .refresh_btn:hover {
	background:url(/images/refresh_btn_hover.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
/*update btn*/

.rapport_container .button_cont .update_btn {
	border:0px;
	cursor:pointer;	
	height:50px;
	width:190px;
}
.fr .rapport_container .button_cont .update_btn {
	background:url(/images/update_btn_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}
.en .rapport_container .button_cont .update_btn {
	background:url(/images/update_btn_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}

.fr .rapport_container .button_cont .update_btn:hover {
	background:url(/images/update_btn_hover_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
.en .rapport_container .button_cont .update_btn:hover {
	background:url(/images/update_btn_hover_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}

.rapport_container .button_cont .sauvegarder_btn {
	border:0px;
	cursor:pointer;	
	height:50px;
	width:190px;
}
.fr .rapport_container .button_cont .sauvegarder_btn {
	background:url(/images/save_btn_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}
.en .rapport_container .button_cont .sauvegarder_btn {
	background:url(/images/save_btn_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}

.fr .rapport_container .button_cont .sauvegarder_btn:hover {
	background:url(/images/save_btn_hover_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
.en .rapport_container .button_cont .sauvegarder_btn:hover {
	background:url(/images/save_btn_hover_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}

.rapport_container .button_cont .sauvegarder_envoyer_btn {
	border:0px;
	cursor:pointer;	
	height:50px;
	width:190px;
}
.fr .rapport_container .button_cont .sauvegarder_envoyer_btn {
	background:url(/images/save_and_email_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}
.en .rapport_container .button_cont .sauvegarder_envoyer_btn {
	background:url(/images/save_and_email_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}

.fr .rapport_container .button_cont .sauvegarder_envoyer_btn:hover {
	background:url(/images/save_and_email_hover_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
.en .rapport_container .button_cont .sauvegarder_envoyer_btn:hover {
	background:url(/images/save_and_email_hover_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
/*Autorise btn for provider*/
.rapport_container .button_cont .autoriser_btn {
	border:0px;
	cursor:pointer;	
	height:50px;
	width:190px;
}
.fr .rapport_container .button_cont .autoriser_btn {
	background:url(/images/autoriser_btn_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}
.en .rapport_container .button_cont .autoriser_btn {
	background:url(/images/autoriser_btn_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}

.fr .rapport_container .button_cont .autoriser_btn:hover {
	background:url(/images/autoriser_btn_hover_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
.en .rapport_container .button_cont .autoriser_btn:hover {
	background:url(/images/autoriser_btn_hover_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}

.rapport_container .button_cont .export_excel_btn {
	border:0px;
	cursor:pointer;	
	height:50px;
	width:190px;
}
.fr .rapport_container .button_cont .export_excel_btn {
	background:url(/images/export_excel_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}
.en .rapport_container .button_cont .export_excel_btn {
	background:url(/images/export_excel_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}

.fr .rapport_container .button_cont .export_excel_btn:hover {
	background:url(/images/export_excel_hover_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
.en .rapport_container .button_cont .export_excel_btn:hover {
	background:url(/images/export_excel_hover_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}

.rapport_container .button_cont .email_btn {
	border:0px;
	cursor:pointer;	
	height:50px;
	width:190px;
}
.fr .rapport_container .button_cont .email_btn {
	background:url(/images/email_btn_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}
.en .rapport_container .button_cont .email_btn {
	background:url(/images/email_btn_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}

.fr .rapport_container .button_cont .email_btn:hover {
	background:url(/images/email_btn_hover_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
.en .rapport_container .button_cont .email_btn:hover {
	background:url(/images/email_btn_hover_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
/*Delete All btn*/
.rapport_container .button_cont .deleteAll_btn {
	border:0px;
	cursor:pointer;	
	height:50px;
	width:190px;
}
.fr .rapport_container .button_cont .deleteAll_btn {
	background:url(/images/deleteAll_btn_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}
.en .rapport_container .button_cont .deleteAll_btn {
	background:url(/images/deleteAll_btn_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
}

.fr .rapport_container .button_cont .deleteAll_btn:hover {
	background:url(/images/deleteAll_btn_hover_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
.en .rapport_container .button_cont .deleteAll_btn:hover {
	background:url(/images/deleteAll_btn_hover_en.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}

.rapport_container .pdf_btn {
    position:absolute;
    right:20px;
    top:20px;

}
.rapport_container .pdf_btn .createPdf_btn {
	background:url(/images/create_pdf_btn_v3.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
	cursor:pointer;	
	height:32px;
	width:125px;
}

.rapport_container .pdf_btn .createPdf_btn:hover {
	background:url(/images/create_pdf_btn_hover_v3.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
.rapport_container .button_cont .backBtn {
	background:url(/images/back_dashboard_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
	cursor:pointer;	
	height:30px;
	width:171px;
}

.rapport_container .button_cont .backBtn:hover {
	background:url(/images/back_dashboard_hover_fr.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}

.rapport_container .button_cont .fLbl {
    text-align:left;
    width:100%;

}
.rapport_container .button_cont .fWdgt {
    margin-bottom:30px;
    margin-left:0px;
}
    .rapport_container .button_cont .fWdgt select {
        width: 100%;
    }

/* :::::::::: table des magasins:::::::::::::*/
.store_result_table_cont table {
    font-family: "Droid Sans",Helvetica,Arial,sans-serif !important;
    font-size: 12px;
    text-align: center;
    width:auto;
}
.store_result_table_cont table tr:first-child {
    background-color: #e10027;
    border: 0 solid #e10027;
    color: white;
    height: 40px;
}
.store_result_table_cont .odd {
    background-color: #ffffff;
    color: #333333;
}
.store_result_table_cont .even {
    background-color: #bbbcbc;
    color: #333333;
}
.store_result_table_cont table td {
    border: 1px solid #6e6f6f;
    padding: 5px;
}
.store.pdf_btn {
    margin-top:20px;
}
.store.pdf_btn .createPdf_btn {
	background:url(/images/create_pdf_btn_v3.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
	cursor:pointer;	
	height:32px;
	width:125px;
}

.store.pdf_btn .createPdf_btn:hover {
	background:url(/images/create_pdf_btn_hover_v3.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:transparent;
	border:0px;
}
.store.pdf_btn .secondaryAction {
    line-height:8px;
    padding:10px 18px 10px;
    vertical-align:bottom;
}
.t01 .new_cie_select {
    display:inline-block;
    width:450px;
    vertical-align:top;
}
.t01 .returnDate_table {
    display:inline-block;
    padding:0px 6px;
    width:268px;
    vertical-align:top;
}
    .t01 .returnDate_table h3 {
        color: #222222;
        font-weight: normal;
        margin-bottom:5px;
    }
.returnDate_table .returnDate_table_container {
    border:2px solid #c8c8c8;
    border-radius:2px;
    /*margin:0px 5px 5px;*/
    position:relative;
    width:auto;

}
.returnDate_table_container .odd, 
.returnDate_table_container .even {
	border-bottom:1px solid white;
	height:28px;
}
.returnDate_table_container .even {
	color:#333333;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjkyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcyJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIwLjc3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZWNlY2UiIHN0b3Atb3BhY2l0eT0iMC42OCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.92) 26%, rgba(206,206,206,0.77) 72%, rgba(206,206,206,0.68) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(26%,rgba(255,255,255,0.92)), color-stop(72%,rgba(206,206,206,0.77)), color-stop(100%,rgba(206,206,206,0.68))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 26%,rgba(206,206,206,0.77) 72%,rgba(206,206,206,0.68) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 26%,rgba(206,206,206,0.77) 72%,rgba(206,206,206,0.68) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 26%,rgba(206,206,206,0.77) 72%,rgba(206,206,206,0.68) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.92) 26%,rgba(206,206,206,0.77) 72%,rgba(206,206,206,0.68) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#adcecece',GradientType=0 ); /* IE6-8 */


}
.returnDate_table_container .odd {
    background-color: #c8c8c8;
    color: #333333;
}
.returnDate_table_container .odd td,
.returnDate_table_container .even td,
.returnDate_table_container th {
    border-right: 1px solid #c8c8c8;
    text-align:center;
}
.returnDate_table_container .odd td {
    border-right: 1px solid white;
}
.returnDate_table  table {
    width:100%;
}