/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background:url(images/header_bg.png) repeat-x #ffffff;
	font-family: 'Droid Sans',Helvetica, Arial, sans-serif !important;
	color: #51565a;/*838B91*/
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans',Helvetica, Arial, sans-serif !important;
	font-weight: normal;
	color: #222222;
}

p, blockquote, ul, ol {
	margin-top: 0;
}

a {	
	text-decoration: none;
	color: #222222;
}

a:hover {
	background: none;
	text-decoration: underline;
}

.clearer {
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 0;
}

/* ::: Wrapper ::: */

#wrapper {
	margin-left:0px;
}

/* ::: Header ::: */

#header {
	height: 120px;
	margin:0;
	padding: 13px 0 0 60px;
}

/* ::: Content ::: */

#content {
	margin:0px;
}

/* ::: Forms ::: */

.frmElmnt {
    padding-top: 15px;
}
.fLbl {
    float: left;
    font-weight: bold;
    line-height: 1.3em;
    margin: 5px 0 0;
    padding: 0px;
    position: relative;
    text-align: right;
    width: 175px;
}
.fBtn {
    border-bottom: 0 none;
    padding-bottom: 0;
}

.fWdgt {
    display: inline;
    float: left;
    line-height: 1.3em;
    margin-left: 14px;
    position: relative;
}
.fWdgt input {
	border: 1px solid #aaa;
    border-radius: 2px;
	line-height: 1em;
    padding: 6px;
	width: 250px;
}
.fSlct {
	margin-bottom:15px;
}
select {
    font-size: 12px;
}
.fSlct select, 
.fWdgt select {
    line-height: 1em;
    padding: 5px;
}
.fBtn .fWdgt {
    margin-left: 189px;
}
.fBtn .fWdgt input {
	width:125px;
}
form.shortForm .frmElmnt {
    border-top: 0 none;
    margin-top: 10px;
    padding-top: 0;
}
form.shortForm .fBtn {
    margin-bottom: 1em;
    margin-top: 14px;
}
.fWdgt p {
    margin-bottom: 0;
    max-width: 500px;
}
p.hlpMsg, .fWdgt label span {
    color: #666;
    font-size: 12px;
    line-height: 1.3em;
}
p.hlpMsg {
    clear: left;
    float: left;
    font-style: italic;
    margin: 2px 0 0;
    max-width: 35em;
    width: 100%;
}
.btn {
	background-color: #e6e6e6;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,#fdfdfd 0%,#e6e6e6 100%); /* W3C */
	background-repeat: repeat-x;
	border-color: #a6a6a6;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	color: #343434;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	margin: 0 10px 0 0;/*margin: 0 3px 0 0;*/
	padding: 9px 14px 8px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	vertical-align: middle;
}


.btn:hover {
	text-decoration: none;
	background-color: #e6e6e6;
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #ddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* IE10+ */
	background: linear-gradient(top,#f1f1f1 0%,#ddd 100%); /* W3C */
}
.btn.primaryAction,
.btn.primaryAction:hover,
.btn.promotionAction,
.btn.promotionAction:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}
.btn.primaryAction,
.btn.promotionAction {
	background: #b2001f;
	background: -moz-linear-gradient(top,  #da0026 0%, #b2001f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da0026), color-stop(100%,#b2001f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #da0026 0%,#b2001f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #da0026 0%,#b2001f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #da0026 0%,#b2001f 100%); /* IE10+ */
	background: linear-gradient(top,  #da0026 0%,#b2001f 100%); /* W3C */
	border-color: #6a0009;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.2);
	margin: 0;
	padding: 10px 18px 11px;
	font-size: 18px;
	line-height: 18px;
}
.secondaryAction {
    margin-left: 10px;
}
/* FOOTER */
#footer {
	bottom:0px;
	padding: 0 0 0 100px;
	background: url(images/img08.gif) repeat-x scroll 0 bottom #ffffff;
	height:100px;
	margin-top:20px;
	position:fixed;
	width:100%;
}

#footer p {
	font-family: 'Droid Sans',Helvetica, Arial, sans-serif !important;
	color: #ffffff;
}

#footer a {
	background: none;
	font-weight: bold;
	color: #ffffff;
}

#legal {
	margin: 0px;
	text-align: right;
	font-size: 12px;
}

#brand {
	background: url(images/lg_archambault04.png) no-repeat scroll -3px 0 transparent;
	position:relative;
	margin: -13px 0px;
	padding-left:110px;
	padding-top:33px;
	min-height:60px;
	font-size: 12px;
	width:643px;
}
#dvLoading {
   background: url(images/loader.gif) no-repeat center center rgba(0,0,0,0.5);
   background-size:64px 64px
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   /*margin: -25px 0 0 -25px;*/
}
#dvLoading .loading_msg_cont {
	margin: 22% auto; 
	width: 383px; 
	height: 186px; 
	background: transparent;
	position:relative;
}
.loading_msg {
	color:white;
	font-size:16px;
	font-weight:bold;
	position: absolute;
	bottom:0px;
	left:0px;
}
