/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

h2 {
	padding-left: 0px;
	font-size: 22px;
	margin:5px 0px;
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
	font-weight: bold;
}
/* Wrapper */

#wrapper {
	background: url(images/shadows.jpg) repeat-x 0 -15px #FFFFFF ;
}
/* Header */
#header {
	width: 754px;
	height: 81px;
	margin: 0 auto;
	padding: 13px 0 0 0;
}
/* Content */

#content {
	width: 750px;
	margin: 0 auto;
	padding-bottom:100px;
}
.welcomeMessage {
	height:56px;
	padding-top:6px;
}
.frame {
    background-color: #ffffff;
    border: 4px solid grey;
    border-radius: 10px;
    display: inline-block;
	min-height:75px;
    padding: 5px 0px 20px;
    width: 750px;
}
.links {/*82ff3e / e6e6e6*/
	background-color: #82ff3e;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #82ff3e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#82ff3e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#82ff3e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#82ff3e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#82ff3e 100%); /* IE10+ */
	background: linear-gradient(top,  #fdfdfd 0%,#82ff3e 100%); /* W3C */
	background-repeat: repeat-x;
	border-color: #a6a6a6;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	color: #343434;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	/*margin: 15px 10px 15px 0px;*/
	padding: 6px 14px;
	text-align: left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	width:200px;
}
 /* Footer */ 

#footer {
	padding: 0;
}

#footer p {
	width: 750px;
}



#brand {
	margin: -13px auto 0 auto;
}


/*Template t02*/

.t02 {
	background: url("images/bg_body02.jpg") repeat-x scroll 0 0 #fcfcfc;
    height: 100%;
}
.t02 #header {
	height:97px;
}
.t02 #wrapper {
	background:none;
	margin: 0 auto;
    width: 770px;
}
.t02 h1 {
	font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.t02 hr {
	border:0px;
	height:1px;
	background:#dddddd;
}
.t02 .wrapMain .extra01 {
	background: url("images/bg_mainLeft01.png") repeat-y scroll left top transparent;
    bottom: 10px;
    display: block;
    left: 0;
    position: absolute;
    top: 271px;
    width: 4px;
}
.t02 .wrapMain .extra02 {
	background: url("images/bg_mainRight01.png") repeat-y scroll right top transparent;
    bottom: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 271px;
    width: 4px;
}
.t02 .wrapMain {
	background: url("images/bg_mainTop01.png") no-repeat scroll left top transparent;
    position: relative;
    top: -3px;
}

.t02 .main {
	background: url("images/bg_mainBottom01.png") no-repeat scroll left bottom transparent;
    margin-bottom: 8px;
    padding: 10px 4px;
}
.t02 #content {
	background: none repeat scroll 0 0 white;
    min-height: 300px;
    padding: 25px 30px;
	width:auto;
}
.t02 form {
	font-size:14px;
}
.t02 #footer {
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
	height:inherit;
	margin-top:5px;
    padding: 0 3px 20px;
	position:inherit;
}
.t02 #brand {
	background:none;
	margin:0px;
	min-height:0px;
	padding:0px;
}

/*Template tLogin*/

.tLogin #header {
	height:97px;
	width:592px;
}
.tLogin #wrapper {
	background:none;
	margin: 0 auto;
    width: 600px;
}

.tLogin .wrapMain {
	background: url("images/bg_loginTop01.png") no-repeat scroll left top transparent;
    position: relative;
    top: -3px;
}

.tLogin .main {
	background: url("images/bg_loginBottom01.png") no-repeat scroll left bottom transparent;
    margin-bottom: 8px;
    padding: 10px 4px;
}
.tLogin #content {
	background: none repeat scroll 0 0 white;
    min-height: 300px;
    padding: 25px 30px 25px 75px;
	width:auto;
}


.tLogin .intro {
    margin-bottom: 0;
    max-width: 280px;
}

.tLogin .shortForm .fLbl {
    width: auto;
}
.tLogin form {
	margin-bottom:20px;
}
.tLogin .fTxt .fLbl {
    left: -999em;
    position: absolute;
    top: -999em;
}
.tLogin .fTxt .fWdgt {
	margin-left:0px;
}
.tLogin .frmAlt .fBtn .fWdgt {
    margin-left: 0;
}
.registerLinkWrap a {
	background-color: #e6e6e6;
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,  #fdfdfd 0%,#e6e6e6 100%); /* W3C */
	background-repeat: repeat-x;
	border-color: #a6a6a6;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	color: #343434;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	margin: 4px 0 0 0;
	padding: 9px 14px 8px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	vertical-align: middle;
	width: 290px;
}
.registerLinkWrap {
    margin: 20px 0 6px;
}
.registerLinkWrap a:hover {
	text-decoration: none;
	background-color: #e6e6e6;
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #ddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#ddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* IE10+ */
	background: linear-gradient(top,  #f1f1f1 0%,#ddd 100%); /* W3C */
}
.tLogin .registerLinkWrap a {
    display: block;
    font-size: 16px;
    font-weight: bold;
}
